server {
    listen {{.Port}};
    listen [::]:{{.Port}};
    server_name {{.ServerName}};
    root {{.RootDir}};
    index index.php;
    access_log /var/log/nginx/{{.SiteName}}.access.log;
    error_log  /var/log/nginx/{{.SiteName}}.error.log;

    location / {
        try_files $uri $uri/ =404;
    }

    location ~ \.php$ {
        fastcgi_pass unix:{{.FastcgiSocket}};
        fastcgi_index index.php;
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param PATH_INFO $fastcgi_path_info;
        include fastcgi_params;
    }

    location ~ /\.ht {
        deny all;
    }
}
